(
    texture_width: 224,
    texture_height: 383,
    sprites: [
        (
            x: 32,
            y: 192,
            width: 16,
            height: 16,
        ),
        (
            x: 48,
            y: 176,
            width: 16,
            height: 16,
        ),
    ]
)

